__pycache__
*.egg-info
venv
tb-logger
*/__pycache__
*/*/__pycache__
.vscode
.amlignore
.amlignore.amltmp
.ipynb_aml_checkpoints
*/*.amltmp
checkpoint*.pth
mlruns
azcopy*
**/*.amltmp
**/.ipynb_checkpoints
dist
